table {
    border-collapse: collapse;
    font-size: 12pt;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: normal;
}

tr {
    border: 2px solid #232323;
}

.var {
    background-color: #cccccc;
}

.header{
    background-color: #707070;
    color: #fefefe;
    text-transform: uppercase;
    font-weight: bold;
}


th {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #232323
}